body {
    margin: 0;
    display: flex;
    flex-direction: row;
}

#map {
    width: 80%;
    height: 100vh;
    border-right: 2px solid #a3b191;
    z-index: 1;
}

#menu {
    flex-grow: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding-left: 20px;
}


#scroll {
    display: flex;
    height: min-content;
    flex-direction: column;
    overflow: scroll;
    padding-top: 20px;
    padding-right: 20px;
}

.location {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.location+.location {
    padding-top: 10px;
    border-top: solid 2px #c7d4b5;
}

#login-overlay {
    z-index: 10;
    background-color: rgba(0, 0, 0, 40%);
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInLogin {
    0% {
        height: 300px;
        width: 400px;
        opacity: 0;
    }

    100% {
        height: 500px;
        width: 400px;
        opacity: 1;
    }
}

#login-window {
    padding: 20px;
    position: absolute;
    height: 500px;
    width: 400px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 1;
    box-shadow: 2px 2px 5px rgb(87, 86, 86);
    animation-name: fadeInLogin;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s
}

.form-major-text {
    color: #001427;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


.form-input {
    color: #001427;
    background-color: #e4e6d7;
    border-radius: 5px;
    border-style: none;
    padding: 7px;
    margin: 5px;
}

.form-submit {
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #86c922;
    box-shadow: 0 5px #67a30d;
    font-weight: bold;
    margin: 10px;
    border-radius: 10px;
    transition-duration: 0.1s;
}

.form-submit:hover {
    background-color: #8cd421;
    box-shadow: 0 4px #67a30d;
    transform: translateY(1px)
}

.form-submit:active {
    box-shadow: 0 0 #67a30d;
    transform: translateY(5px);
}

#login-window> {
    margin-bottom: 10px;
}

#form-error-alert {
    display: none;
    margin-top: 10px;
    font-weight: bold;
    color: #F40014;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 0.2s;
}

#new-place {
    z-index: 11;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#place-submit {
    font-size: 14px;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #86c922;
    box-shadow: 0 5px #67a30d;
    font-weight: bold;
    margin: 10px;
    border-radius: 10px;
    transition-duration: 0.1s;

}

#place-submit:hover {
    background-color: #8cd421;
    box-shadow: 0 4px #67a30d;
    transform: translateY(1px)
}

#place-submit:active {
    box-shadow: 0 0 #67a30d;
    transform: translateY(5px);
}

@keyframes fadeInPlace {
    0% {
        height: 100px;
        width: 400px;
        opacity: 0;
    }

    100% {
        height: 300px;
        width: 400px;
        opacity: 1;
    }
}

#new-place-dialog {
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 1;
    box-shadow: 2px 2px 5px rgb(87, 86, 86);
    background-color: white;
    border: none;
    height: 300px;
    width: 400px;
    animation-name: fadeInPlace;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s
}

#place-name {
    color: #001427;
    background-color: #e4e6d7;
    border-radius: 5px;
    border-style: none;
    padding: 7px;
    margin: 5px;

}

#log-out-form {
    position: absolute; 
    bottom: 20px;
    left: 20px;
    z-index: 1;
}

.location-icon {
    height: 40px;
}
