body {
    margin: 0;
    display: flex;
    flex-direction: row;
}

#map {
    width: 80%;
    height: 100vh;
    border-right: 3px solid black;
    z-index: 1;
}

#menu {
    flex-grow: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

#scroll {
    display: flex;
    height: min-content;
    flex-direction: column;
    overflow: scroll;
}

.location {
    min-height: 80px;
}

#login-overlay{
    z-index: 10;
    background-color: rgba(0, 0, 0, 40%);
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-window{
    padding: 20px;
    position: absolute;
    height: 600px;
    width: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-error-alert {
    display: none;
    border-radius: 10px;
    margin: 3px;
    border-color: hsl(360, 80%, 50%);
    background-color: hsl(360, 80%, 85%);
    color: hsl(360, 80%, 50%);
    border: solid 1px;
    padding: 10px;
}

#new-place {
    z-index: 11;
    height: 300px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    background-color: white;
}