<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Ulubione Miejsca</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link rel="icon" href="/static/favicon.svg" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
</head>

<body>
    <div id="map"></div>
    <div id="menu">
        <div id="scroll">

        </div>
    </div>
    {% if not logged_in %}
    <div id="login-overlay">
        <div id="login-window">
            <div id="form-error-alert"></div>
            <p class="form-major-text">Log in</p>
            <input type="text" placeholder="username" class="form-input" id="login-username">
            <input type="password" placeholder="password" class="form-input" id="login-password">
            <button class="form-submit" id="login-submit">log in</button>
            <p class="form-major-text">Register</p>
            <input type="text" placeholder="username" class="form-input" id="register-username">
            <input type="password" placeholder="password" class="form-input" id="register-password">
            <input type="password" placeholder="repeat password" class="form-input" id="register-repassword">
            <button class="form-submit" id="register-submit">register</button>
        </div>
        <script src="/static/login.js"></script>
    </div>
    {% endif %}
    <dialog id="new-place-dialog">
        <div id="new-place">
            <input type="text" placeholder="place name" id="place-name">
            <button id="place-submit">create new place</button>
        </div>
    </dialog>
    <template id="location-template">
        <div class="location"></div>
    </template>
    <script src="/static/script.js"></script>
</body>

</html>